---
import Layout from "../../layouts/Layout.astro";
import WelcomeBackground from "../../components/welcome-background";
import HeroCard from "../../components/HeroCard.astro";
import BlogList from "../../components/BlogList.astro";
import MobileSidebar from "../../components/MobileSidebar.astro";
---

<Layout>
  <div class="blog-index-container" transition:name="bg-container" transition:animate="none">
    <WelcomeBackground client:load transition:persist="bg"/>
    <div class="blog-index-content">
      <MobileSidebar>
        <div class="blog-index-hero">
          <HeroCard/>
        </div>
      </MobileSidebar>
      <div class="blog-index-list">
        <BlogList/>
      </div>
    </div>
  </div>
</Layout>

<style>
	.blog-index-container {
		position: relative;
		height: 100vh;
		width: 100%;
	}
	
	.blog-index-content {
		z-index: 10;
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		padding: 2rem;
	}
	
	.blog-index-hero {
		flex-shrink: 0;
	}
	
	.blog-index-list {
		max-height: 80vh;
		width: 100%;
	}
	
	@media (min-width: 768px) {
		.blog-index-list {
			width: auto;
		}
	}
</style>