---
import { Button } from './ui/button'
import '@fontsource/pathway-gothic-one'
import '@fontsource-variable/eb-garamond'
import { FaGithub } from 'react-icons/fa6'
import { FaLinkedinIn } from 'react-icons/fa'
---

<div transition:name="hero-card" class="flex flex-col justify-center gap-4 bg-slate-900 p-10 text-slate-300">
	<h1 class="text-5xl">Colm O'Sullivans Blog</h1>
	<Button>
		<FaGithub />
		<p class="text-2xl">Github</p>
	</Button>
	<Button>
		<FaLinkedinIn />
		<p class="text-2xl">LinkedIn</p>
	</Button>
	<a href="/blog">
		<Button className="w-full">
			<p class="text-2xl">Blog</p>
		</Button>
	</a>
</div>

<style>
	h1 {
		font-family: "Pathway Gothic One";
	}
	p {
		font-family: "EB Garamond Variable";
	}
	@media (max-width: 767px) {
		div[data-astro-transition-scope] {
			view-transition-name: none !important;
		}
	}
</style>
