---
import WelcomeBackground from './welcome-background'
import HeroCard from './HeroCard.astro'
---

<div class="welcome-container" transition:name="bg-container" transition:animate="none">
	<WelcomeBackground client:load transition:persist="bg" />
	<div class="welcome-content">
		<HeroCard />
	</div>
</div>

<style>
	.welcome-container {
		position: relative;
		height: 100vh;
		width: 100%;
	}
	
	.welcome-content {
		z-index: 10;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
</style>