---
import { HexagonBackground } from '../components/hexagon'
import { Button } from '../components/ui/button'
import '@fontsource/pathway-gothic-one'
import '@fontsource-variable/eb-garamond'
import { FaGithub} from 'react-icons/fa6'
import { FaLinkedinIn } from 'react-icons/fa'
---
<div class="relative h-screen w-full">
	<HexagonBackground client:load className="absolute inset-0 h-full w-full" />
	<div class="z-10 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center gap-4 bg-amber-300 p-10">
		<h1 class="text-5xl font">Colm O'Sullivans Blog</h1>
		<Button>
			<FaGithub />
			<p class="text-2xl">Github</p>
		</Button>
		<Button>
			<FaLinkedinIn/>
			LinkedIn
		</Button>
	</div>
</div>
<style>
	h1 {
		font-family: "Pathway Gothic One"
	}
	p {
		font-family: "EB Garamond Variable"
	}
</style>