---
import WelcomeBackground from './welcome-background'
import HeroCard from './HeroCard.astro'
---

<div class="relative h-screen w-full" transition:name="bg-container" transition:animate="none">
	<WelcomeBackground client:load transition:persist="bg" />
	<div class="z-10 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
		<HeroCard />
	</div>
</div>