---
import WelcomeBackground from '@/components/welcome-background';
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
---
<Layout>
    <WelcomeBackground client:load />
    <div class="z-10 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center gap-4 bg-gray-700 p-10">
        <slot />
    </div>
</Layout>